<div class="index-inner-body">
  <div class="cards">
    <% test = ["hardcoded/card-1.png", "hardcoded/card-2.png", "hardcoded/card-3.png"] %>
    <h2 class="card-h2">We found 10 spaces for you!</h2>
    <% @spaces.each_with_index do |space, index| %>
    <div class="card-product d-flex">
      <%= render partial: "shared/carousel", locals: {test: test, i: index} %>
      <div class="card-product-infos">
        <h3 class="card-product-title-index"><%= link_to space.name, space_path(space), class: "link" %></h3>
        <div class="card-product-tags"><%= space.category.capitalize %></div>
        <div class="card-product-numbers d-flex">
          <div class="card-product-numbers-left">

            <div class="card-ratings d-flex"><%= image_tag "rating.png", class: "card-icon" %><span class="card-ratings-text">4.72</span></div>
            <div class="card-occupancy d-flex"><%= image_tag "occupancy.png", class: "card-icon" %><span class="card-occupancy-text"><%= space.max_occupancy %></span></div>
          </div>
          <div class="card-product-numbers-right">
            <span class="card-price-per-night"><span class="card-price-per-night-bold">$<%= space.price_per_hour %></span> / hour</span>
            <div class="card-price-total">$<%= space.price_per_hour * 5 %> total</div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

<!-- MAPBOX -->

  </div>
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<!--   <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1Ijoia2Vucmlja3l1YW4iLCJhIjoiY2syNjVwa24zMnA2cDNvcXR6MWQxc3QxZCJ9.WgP8krnsGkEkvvrGhQQ-qw'>
 --></div>


<!-- MAPBOX -->
