<h2><%= @space.name %></h2>
<p> Description: <%= @space.description %> </p>
<p> Location: <%= @space.location %></p>
<p> Category: <%= @space.category %></p>
<p> Price per Hour: <%= @space.price_per_hour %></p>
<p> Max_occupancy: <%= @space.max_occupancy %></p>

