<div class="booking-inner-body" style="background-image: url(<%= random_bg %>)">
  <div class="booking-form">
    <%= simple_form_for [@space, @booking] do |f| %>
      <h1 class="form-h1">Add dates</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <span class="form-label">Check In</span>
            <%= f.input :start_time, as: 'text', input_html: {class: 'picker'}, label: false%>
  <!--           <input class="form-control" type="date" required>
   -->    </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <span class="form-label">Check out</span>
            <%= f.input :end_time, as: 'text', input_html: {class: 'picker'}, label: false%>
  <!--           <input class="form-control" type="date" required>
   -->    </div>
        </div>
      </div>
      <div class="form-group"> <!-- Submit Button -->
        <%= f.button :submit, class: "test-button" %>
    <% end %>
      </div>
  </div>
</div>



   <!--  <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Max Occupancy</span>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <span class="select-arrow"></span>
        </div>
      </div> -->
<!--       <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Adults</span>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Children</span>
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
          </select>
          <span class="select-arrow"></span>
        </div>
      </div>
    </div> -->
<!-- <script>jQuery('#datetimepicker').datetimepicker();</script> -->
